 <div id="follower_following_wrapper" style="display:none">
     <button type="button" class="close">&times;</button> 
    <div id="friends_list_wrapper">
        
        <script type="text/template" id="friendsList">
            <tr>
                <td class="left">
                    <a href="/profile/<%= username %>">
                        <img src="<%= image_url %>" alt="<%= username %>"/>
                    </a> 
                    <div>
                        <span><%= followers_count %>&nbsp;Followers</span>
                    </div>
                    <div>
                        <span><%= following_count %>&nbsp;Following</span>   
                    </div>
                </td>

                <td class="right">
                    <span><h2 class="inline-fields"><%= username %></h2></span>
                    <span>&nbsp;&nbsp;</span>
                    <input type="hidden" name="others_id" value="<%= others_id %>"/>
                    <% if(relationship_status){ %>
                        <input type="button"  value="unfollow" class="unfollow btn-primary"/>
                    <% } else { %>
                        <input type="button" class="follow" value="follow"/>
                    <% } %> 
                </td>
            </tr>  
            <hr/>
        </script>
    </div>
</div>