.profile_name
{
	color:white;
	padding-top: 0.8em;
}

.inline-fields
{
	display: inline-block;
}

.margin-adjust
{
	margin-top: 1em;
}

.margin-ve-adjust
{
	margin-top: -1.5em;
}

.signin_form
{
	float: right;
	margin-right: 1.5em;
}

.signup_form
{
	margin: 1em;

}

.error-messages
{
	margin-top: 0.2em;
	text-align: center;
	color:#C09853;

}

#top,#right
{
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
}

tr
{
 	vertical-align:text-bottom;
}

.errorlist
{
	list-style-type: none;
}
