body
{
	background-color: #F7F7F9;
}

.profile_name
{
	color:white;
	padding-top: 0.8em;
}

.inline-fields
{
	display: inline-block;
}

.margin-adjust
{
	margin-top: 1em;
}

.margin-ve-adjust
{
	margin-top: -1.5em;
}

.signin_form
{
	float: right;
	margin-right: 1.5em;
}

.signup_form
{
	margin: 1em;
	border:1px solid #F8F8F8;
}

.error-messages
{
	margin-top: 0.2em;
	text-align: center;
	color:#C09853;

}

.title
{
	text-align: center;
}

tr,.btn,.btn-primary
{
 	vertical-align:text-bottom;
}

.errorlist
{
	list-style-type: none;
}

.follow_unfollow_wrapper
{
	height: 50px;
}

.user_info
{
	margin: auto;
	width: 500px;
	height: 125px;
}

.user_info img
{
	float: left;
}

.users_list_wrapper
{
	height: 150px;
}

.left
{
	float:left;
	width:180px;
}

.margin-top-adjustment
{
	margin-top: 1.5em;
}

.bookmark
{
	width: 500px;
	height: 160px;
	border-top:1px solid #E0E0E0;
	border-left: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

.bookmark nth-child
{
	border-bottom: 1px solid #E0E0E0;
}

.bookmark a
{
	text-decoration: none;
}

.bookmark a:hover
{
	text-decoration: none;
}


.bookmark p
{
	font-size: 12px;
	width: 500px;
	height: 120px;
	word-wrap: break-word;
}

.bookmark:hover
{
	background-color: #E8E8E8 ;
	cursor: pointer;
}

.inline-fields li
{
	display: inline-block;
}

.inline-fields input[type=radio]
{
	display: inline-block;
}

#create_bookmark,#add_category_form
{
	height: 500px;
}

#image-loader
{
	position: fixed;
	top: 50%
	left:50%;
	display: none;
}

#create_category
{
	height: 130px;
}

#categories
{
	width: 150px;
	position: relative;
	top: 10px;
}

.url_list
{
	list-style-type: none;
}

.description
{
	font-size: 12px;
}

.add_bookmark_icon
{
	cursor: pointer;
}

.category_options
{
	padding-top: 2px;
	padding-left: 15px;
}

#follower_following_wrapper
{
	position:absolute;
	top:0px;
	background-color:#F7F7F9;
	width: 440px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	overflow: auto;
	border: 1px solid #E8E8E8;
}

.close
{
	cursor: pointer;
}

.user_profile
{
	height: 100px;
}