<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}vendor/bootstrap/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}custom/css/style.css" />

    </head>
    
    <body>

        <div id="main">
            
            <div id="top">
                <header>
                    <div class="wrapper">
                        {%  block login %}

                        <div class="navbar navbar-fixed-top">
                            <div class="navbar-inner">
                                <div class="container inline-fields">
                                    <ul class="nav">  
                                        <li class="active"><a href="/home">Home</a></li>  
                                        <li><a href="/users/">Public Profiles</a></li>  
                                        <li><a href="/profile/{{username}}">My Profile</a></li>  
                                    </ul>  

                                    <ul class="nav pull-right">  
                                        <li class="dropdown">  
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                                                Welcome {{username}}  
                                                <b class="caret"></b>  
                                            </a>  
                                        
                                            <ul class="dropdown-menu">  
                                                <li><a href="/edit_profile/">Edit my profile</a></li>
                                                <li><a href="/change_password/">Change Password</a></li> 
                                                <li><a href="/logout/">Logout</a></li>  
                                            </ul>  
                                        </li>  
                                    </ul>    
                                </div>
                            </div>
                        </div>

                        {% endblock %}
                    </div>        
                </header>
            </div>

            <div id="left">
                <div class="content">
                    <div class="wrapper">
                        
                        {% block left_pane %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div id="fill">
                <div class="content">
                    <div class="wrapper">
                        {% block middle_pane %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div id="right">
                <div class="content">
                    <div class="wrapper">
                        {% block right_pane %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <div id="bottom">
                <footer></footer>
            </div>

        </div>
        
        <script type="text/javascript" src="{{STATIC_URL}}vendor/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vendor/jquery/js/jquery-layout-manager.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vendor/jquery/js/jquery-chosen.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}custom/js/init.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vendor/underscore/js/underscore.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}vendor/backbone/js/backbone.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}custom/js/helpers.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}custom/js/bookmark.js"></script>

    </body>

</html>
