<!DOCTYPE html>
<html>
	
	<head>
		
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css"/>
	
	</head>

	<body>


		<script type="text/javascript" src="{{STATIC_URL}}jquery/js/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}underscore/js/underscore.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}backbone/js/backbone.min.js"></script>
	
	</body>

</html>