{%extends "base.html" %}

{% block middle_pane %}
	
	<div id="bookmark_list">

		<script type="text/template" id="bookmarkDisplayTemplate">
			<% _.each(bookmarks,function(bookmark){ %>

				<div class="left">
					<span><i><%= bookmark.created_date %></i></span>
				</div>

				<div class="right">
					<span><a href="<%= bookmark.url %>"><%= bookmark.url %></a></span>	
					<span<%= bookmark.name %></span>
					<span><%= bookmark.description %></span>
					<span<%= bookmark.visibility %></span>
					<input type="hidden" name="bookmark_id" value="<%= bookmark_id %>"/>
				</div>

			<% }); %>
		</script>

	</div>

{% endblock %}