{%extends "base.html" %}

{%  block left_pane %}

	{% include "_partials/user_info.html" %}
	{% include "_partials/add_tag.html" %}

{% endblock %}

{% block middle_pane %}

	{% include "_partials/add_category.html" %}
	
	<div id="bookmark_list">

		<input type="button" id="display_bookmark_form_button" class="btn-primary" value="Create a bookmark"/>
		
			{% include "_partials/add_bookmark.html" %}

			<div>
				<img id="image-loader" src="{{STATIC_URL}}custom/img/ajax-loader.gif">
			</div>

			<div id="bookmark_wrapper">
		
				<script type="text/template" id="bookmarkDisplayTemplate">
				
					<% if(visibility == "private"){ %>
						<img  style="float:right" src="{{STATIC_URL}}custom/img/private.jpg"/>
					<% } %>
					<div><i>Created Date:<%= creation_date %></i></div>
					<div>
						<span><h3><a target="_blank" href="<%= url %>"><%= name %></a></h3></span>
					</div>
					<input type="hidden" name="bookmark_id" value="<%= bookmark_id %>"/>
					<p><%= description %>
						<span><button class="btn-primary edit_bookmark">Edit</button></span>
					</p>
				
				</script>

			</div>

			<div class="bookmark_edit_wrapper">

				<script type="text/template" id="bookmarkEditTemplate">

					<form id="edit_bookmark_form" method="POST" action="/bookmark/">{% csrf_token %}

						<div class="inline-fields">
                			<span><label for="id_url">URL:</label></span>
                			<span><input type="text" name="url" value="<%= url %>"/></span>
            			</div>

            			<div class="inline-fields">
                			<span ><label for="id_name">Name:</label></span>
                			<span><input type="text" name="name" value="<%=  name %>"/></span>
            			</div>

            			<div class="inline-fields">
                			<span><label for="id_description">Description:</label></span>
                			<span class="inline-fields"><input type="text" name="description" value="<%= description %>"/></span>
            			</div>

            			<div class="inline-fields">
							<span><label for="id_visibility">Visibility:</label></span>
							<span>
								<label class="inline-fields"><input type="radio" checked="checked" name="visibility" value="public"/>Public</label>
							</span>
							<span>
								<label class="inline-fields"><input type="radio" name="visibility" value="private"/>Private</label>
							</span>
						</div>

            			<input type="hidden" name="bookmark_id" value="<%= bookmark_id %>"/>

            			<div>
							<button class="save_bookmark btn-primary">Save</button>
							<button class="cancel_bookmark btn-primary">Cancel</button>
							<span class="edit_bookmark_error_messages error-messages"></span>
						</div>

					</form>

				</script>

			</div>	

		</div>
	

{% endblock %}


