{%extends "base.html" %}

{% block middle_pane %}
	
	<div id="bookmark_list">

		<script type="text/template" id="bookmarkDisplayTemplate">
			
			<div class="left">	
				<span><i><%= creation_date %></i></span>
			</div>

			<div class="right">
				<span><a href="<%= url %>"><%= url %></a></span>	
				<span><%= name %></span>
				<span><%= description %></span>
				<span><%= visibility %></span>
				<input type="hidden" name="bookmark_id" value="<%= bookmark_id %>"/>
			</div>
			
		</script>

	</div>

{% endblock %}