{% extends "base.html" %}

{% block middle_pane %}
	
	<div style="display:none">
		<img id="image-loader" src="{{STATIC_URL}}custom/img/ajax-loader.gif">
	</div>

	<div class="alert" style="display:none">
  		<span>Bookmark has added successfully</span>
	</div>

	<div id="bookmarks_wrapper">
		<form method="POST" action="/tag_names/">{% csrf_token %}
			<h3>Here are the list of available Tags</h3>
			{% for tag in tag_info %}
				<div>
					<b>
						<a class="tags" href="/tags/{{tag.tag_id}}">{{tag.name}}</a>
					</b>
					<ul class="url_list">
					</ul>
				</div>
			{% empty %}
				<div>
					Hurray No tags has been created yet!
				</div>
			{% endfor %}
		</form>
	</div>

{% endblock %}