{% extends "base.html" %}

{% block middle_pane %}
	
	<div class="profile_container">

		<div class="image_wrapper inline-fields">
			<a href="/profile/{{user_info.username}}/">
				<img width="150px" height="150px" src="{{user_info.image_url}}" alt="{{user_info.username}}"/>
			</a>
		</div>

		<div class="username_wrapper">
			<span><h1>{{user_info.username}}</h1></span>
		</div>

		<div class="summary_wrapper">
			<p>{{user_info.summary}}</p>
		</div>

		<div class="socialize_wrapper">
			<span><a href="#">{{following_count}}&nbsp;following</a></span>
			<span><a href="#">{{followers_count}}&nbsp;followers</a></span>
		
		</div>

		<div class="follow_unfollow_wrapper">
			<form class="custom_form" method="POST" action="/toggle/">{% csrf_token %}
				{% if not  my_profile %}
					{% if follow %}
						<input type="submit" class="btn-primary" value="unfollow" name="relationship_button"/>
					{% else %}
						<input type="submit" class="btn" value="follow" name="relationship_button"/>
					{% endif %}
					<input type="hidden" name="others_id" value="{{user_info.others_id}}"/>
				{% endif %}
			</form>
		</div>

		<div class="bookmarks">
			<span>Public bookmarks</span>
			{% for bookmark in public_bookmarks %}
				<div><a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a></div>
			{% empty %}
				<span>Hurray! no public bookmarks has been shared!</span>
			{% endfor %}

		</div>

	</div>

{%  endblock %}

