{% extends "base.html" %}

	{% block middle_pane %}

		<div class="user_profile">

			{% for user in users_list %}
				<div class="user_info">
					
					<div class="users_list_wrapper">
						<form method="POST" action="/toggle/">{% csrf_token %}

							<div class="left">
								<a href="/profile/{{user.username}}/">
									<img src="{{user.image_url}}" alt="{{user.username}}"/>
								</a>
							</div>


							<div class="right follow_unfollow_wrapper">
								<span><h2 class="inline-fields">{{user.username}}</h2></span>

								<span><p>{{user.description}}</p></span>
								<input type="hidden" name="others_id" value="{{user.others_id}}"/>
								{% if user.follow %}
									<input type="submit" class="btn-primary relationship_button margin-top-adjustment" value="unfollow" name="relationship_button"/>
								{% else %}
									<input type="submit"  class="btn relationship_button margin-top-adjustment" value="follow" name="relationship_button"/>
								{% endif %}
								
							</div>

						</form>
					</div>

				{% empty %}

				<div class="user_info">
					<span>No recommendations for you currently</span>
				</div>

			</div>
		{% endfor %}

	</div>

{% endblock %}