{% extends "base.html" %}

{% block middle_pane %}
	
	{% include "_partials/display_friends.html" %}
	<div id="user_info" class="user_profile">

		<div class="image_wrapper inline-fields">
			<a href="/profile/{{user_info.username}}/">
				<img width="150px" height="150px" src="{{user_info.image_url}}" alt="{{user_info.username}}"/>
			</a>
		</div>

		<div class="username_wrapper">
			<span><b class="title">{{user_info.username}}</b></span>
		</div>

		<div class="summary_wrapper">
			<p>{{user_info.summary}}</p>
		</div>

		<div class="socialize_wrapper">
			
		</div>

		<div class="users_list_wrapper">
			<div class="follow_unfollow_wrapper">
				<form class="custom_form" method="POST" action="/toggle/">{% csrf_token %}
					{% if not  my_profile %}
						<input type="hidden" name="others_id" value="{{user_info.others_id}}"/>
						{% if follow %}
							<input type="submit" class="btn-primary relationship_button" value="unfollow" name="relationship_button"/>
						{% else %}
							<input type="submit" class="btn relationship_button" value="follow" name="relationship_button"/>
						{% endif %}
						
					{% endif %}
				</form>
			</div>
		
		</div>

		<div><a class="following" href="#">{{following_count}}&nbsp;following</a></div>
		<div><a class="followers" href="#">{{followers_count}}&nbsp;followers</a></div>

		
		<div class="alert" style="display:none">
  			<span>Bookmark has added successfully</span>
		</div>

		<div id="bookmarks_wrapper">
			<span>Public bookmarks</span>
			<ul class="url_list">
				{% for bookmark in public_bookmarks %}
					<li>
						<a href="{{bookmark.url}}" target="_blank">{{bookmark.name}}</a>
						{% if not my_profile %}
							<img src="{{STATIC_URL}}custom/img/add-button.png" class="add_bookmark_icon" title="Add to My Bookmarks">
						{% endif %}
					</li>
					<p class="description">{{bookmark.description}}</p>
				{% empty %}
					<span>Hurray! no public bookmarks has been shared!</span>
				{% endfor %}
			</ul>
		</div>

	</div>

{%  endblock %}

